<footer class="footer-1 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <img alt="LogoPage" class="logo" src="../img/residus_logo2.png" />
                <img alt="LogoCircuit" class="logoCircuit" src="../img/logocircuit.jpg" />
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget">
                    <h6 class="title">Pròximes Carreres</h6>
                    <hr>
                    <ul class="link-list recent-posts">
                        <li>
                            <a href="#">Moto GP</a>
                            <span class="date">Maig
                                <span class="number">20, 2019</span>
                            </span>
                        </li>
                        <li>
                            <a href="#">Formula 1</a>
                            <span class="date">Juny
                                <span class="number">9, 2019</span>
                            </span>
                        </li>
                        <li>
                            <a href="#">Final de Temporada</a>
                            <span class="date">Juny
                                <span class="number">27, 2019</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <!--end of widget-->
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="widget">
                    <h6 class="title">Compra les Teves Entrades Oficials</h6>
                    <hr>
                    <ul class="link-list recent-posts">
                        <li>
                            <a href="https://www.circuitcat.com/es/formula-1/entradas/">Formula 1</a>

                        </li>
                        <li>
                            <a href="https://www.circuitcat.com/es/moto-gp/entradas/">Gran Premi Monster Energy
                                de Catalunya de MotoGP 2019</a>

                        </li>
                    </ul>
                </div>
                <!--end of widget-->
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-6">
                <span class="sub">&copy; Copyright 2019 - Medium Rare</span>
            </div>
            <div class="col-sm-6 text-right">
                <ul class="list-inline social-list">
                    <li>
                        <a href="https://twitter.com/?lang=ca">
                            <i class="ti-twitter-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/">
                            <i class="ti-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/">
                            <i class="ti-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/?gl=ES&hl=es">
                            <i class="ti-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--end of container-->
    <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Pujar</a>
</footer>