<footer class="footer-1 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <img alt="LogoPage" class="logo" src="../../img/residus_logo2.png" />
                <img alt="LogoCircuit" class="logoCircuit" src="../../img/logocircuit.jpg" />
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <button class="label logOutButt" onclick="logOutUser()">Tanca Sessió</button>
                <br><br>
                <ul class="list-inline social-list">
                    <li>
                        <a href="https://twitter.com/?lang=ca">
                            <i class="ti-twitter-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/">
                            <i class="ti-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/">
                            <i class="ti-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/?gl=ES&hl=es">
                            <i class="ti-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-7">
                <span class="sub">&copy; Copyright 2019 - Medium Rare</span>
            </div>
            <div class="col-sm-5 text-right">

            </div>
        </div>
    </div>
    <!--end of container-->
    <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Pujar</a>
</footer>