<div class="nav-container">
    <a id="top"></a>
    <nav class="bg-dark">
        <div class="nav-bar">
            <div class="module left">
                <a href="taulerAnuncis.html">
                    <img alt="Logo" class="logo" src="../img/residus_logo2.png" />
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li class="has-dropdown">
                            <a href="taulerAnuncis.html">
                                Comparteix Cotxe
                            </a>
                            <ul>
                                <li>
                                    <a href="taulerAnuncis.html">
                                        Tauler d'Anuncis
                                    </a>
                                </li>
                                <li>
                                    <a href="pujarAnunciCC.html">
                                        Pujar Anunci
                                    </a>
                                </li>
                               <!-- <li>
                                    <a href="xatCC.html">
                                        Xats
                                    </a>
                                </li>-->
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="restaurant.html">
                                Reservar Menú
                            </a>
                            <ul>
                                <li class="has-dropdown">
                                    <a href="restaurant.html">
                                        Frankfurts
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="restaurant.html">
                                                Sud-Oest
                                            </a>
                                        </li>
                                        <li>
                                            <a href="restaurant.html">
                                                Central
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="restaurant.html">
                                        Hamburguesa
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="restaurant.html">
                                                Sud-Oest
                                            </a>
                                        </li>
                                        <li>
                                            <a href="restaurant.html">
                                                Oest
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Ofertes
                            </a>
                        </li>
                        <li>
                            <a href="puntsQR.html">
                                Punts QR
                            </a>
                        </li>
                    </ul>
                </div>
                <!--end of menu module-->

                <div class="module widget-handle cart-widget-handle left">
                    <div class="cart">
                        <i class="ti-bag"></i>
                        <span class="label number">2</span>
                        <span class="title">Shopping Cart</span>
                    </div>
                    <div class="function">
                        <div class="widget">
                            <h6 class="title">Shopping Cart</h6>
                            <hr>
                            <ul class="cart-overview">
                                <li>
                                    <a href="#">
                                        <img alt="Product" src="../img/shop-widget-1.png" />
                                        <div class="description">
                                            <span class="product-title">Hamburguesa Complerta</span>
                                            <span class="price number">8.90€</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Product" src="../img/shop-widget-2.png" />
                                        <div class="description">
                                            <span class="product-title">Coca-Cola amb Got Retornable</span>
                                            <span class="price number">2.50€</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <hr>
                            <div class="cart-controls">
                                <a class="btn btn-sm btn-filled" href="#">Comprar</a>
                                <div class="list-inline pull-right">
                                    <span class="cart-total">Total: </span>
                                    <span class="number">11.40€</span>
                                </div>
                            </div>
                        </div>
                        <!--end of widget-->
                    </div>
                </div>
                <div class="module widget-handle language left">
                    <ul class="menu">
                        <li class="has-dropdown">
                            <a href="#">CAT</a>
                            <ul>
                                <li>
                                    <a href="#">Castellà</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <span class="label logOutButt" onclick="logOutUser()">Surt</span>
            </div>
            <!--end of module group-->
        </div>
    </nav>
</div>