<div class="nav-container">
    <a id="top"></a>
    <nav class="bg-dark">
        <div class="nav-bar">
            <div class="module left">
                <a href="consulAnunc.html">
                    <img alt="Logo" class="logo" src="../../img/residus_logo2.png" />
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li class="has-dropdown">
                            <a href="consulAnunc.html">
                                Anuncis
                            </a>
                            <ul>
                                <li>
                                    <a href="consulAnunc.html">
                                        Consultar Anuncis
                                    </a>
                                </li>
                                <li>
                                    <a href="reportAnunc.html">
                                        Anuncis Reportats
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="consulCarr.html">
                                Carreres
                            </a>
                            <ul>
                                <li>
                                    <a href="consulCarr.html">
                                        Consultar Carreres
                                    </a>
                                </li>
                                <li>
                                    <a href="afegCarr.html">
                                        Afegir Carrera
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--end of menu module-->
                <div class="module widget-handle language left">
                    <ul class="menu">
                        <li class="has-dropdown">
                            <a href="#">CAT</a>
                            <ul>
                                <li>
                                    <a href="#">Castellà</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <span class="label logOutButt" onclick="logOutUser()">Surt</span>
            </div>
            <!--end of module group-->
        </div>
    </nav>
</div>