.scroll {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}

.logOutButt{
  cursor: pointer;
}

.logoCircuit{
  height: 60px;
  margin-top: 1em;
}

#messages-card-container{
  height: 40em;
}

.olvidarContraNone{
  display: none;
}

.alertaError{
  display: none;
}

.alertaContra {
  display: none;
}

.alertaCorreoFormat {
  display: none;
}

.alertaINPUT {
  border: 1px solid #F8F8F8;
  color: #666;
}

#ptrobada {
  width: 15%;
  padding: 5px;
  margin-right: 20%;
  margin-top: 10%;
  position: realtive;
  float: left;
  box-sizing: border-box;
  font-size: 1.5em;
  
}

.input_xat{
  font-size: 1.5em;
}


.check-item{
  cursor: pointer;
}

.check-item :hover{
  font-weight: bold;
}

.remove-item{
  color: red;
  cursor: pointer;
}

.remove-item :hover{
  color: rgb(128, 18, 18);
  font-weight: bold;
}

.reportar{
  margin-right: 2%;
}